src/tydier/__pycache__/__init__.cpython-310.pyc
src/tydier/__pycache__/tydier.cpython-310.pyc
src/tydier/__pycache__/catvars.cpython-310.pyc
src/tydier/__pycache__/catvars.cpython-310.pyc
src/tydier/__pycache__/catvars.cpython-310.pyc
src/tydier/__pycache__/strings.cpython-310.pyc
src/tydier/__pycache__/numvars.cpython-310.pyc
