src/dfcleaner/__pycache__/__init__.cpython-310.pyc
src/dfcleaner/__pycache__/dfcleaner.cpython-310.pyc
src/dfcleaner/__pycache__/catvars.cpython-310.pyc
src/dfcleaner/__pycache__/catvars.cpython-310.pyc
